 
<!-- Publications -->
  <section class="page-section" id="{{ site.data.sitetext.publications.section | default: "publications" }}">
    <div class="container">
  
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{"Publications" }}</h2>
        </div>
      </div>


<p><a href="https://ieeexplore.ieee.org/abstract/document/9555789"> Vision for Prosthesis Control Using Unsupervised Labeling of Training Data </a> <em>IEEE-RAS 20th International Conference on Humanoid Robots (Humanoids) </em></p> 

<p>Coordinated Movement for Prosthesis Control: Temporal Factors and Attention - <em>IEEE International Conference on Biomedical Robotics \& Biomechatronics (BioRob 2020)</em></p>

<p><a href="https://pubmed.ncbi.nlm.nih.gov/31374728">Framework for Mode-Free Prosthetic Control for Unstructured Terrains </a>- <em>IEEE International Conference on Rehabilitation Robotics </em> (ICORR 2019)</p>

<p> <a href=""> Dimensionality Reduction of Human Gait for Prosthetic Control</a> <em> Frontiers in Bioengineering and Biotechnology </em></p>

<p>Mode-free Control of Prosthetic Lower Limbs
 <em>IEEE International Symposium on Medical Robotics </em>(ISMR 2018)</p>


<p>Evaluation of a Visual Localization System for Environment Awareness in Assistive Devices <em>(Engineering in Medicine and Biology Conference 2018)</em></p>

<p> <a href="http://media.mycrowdwisdom.com.s3.amazonaws.com/aaop/Resources/JOP/2017/2017-F10.pdf">Visual Localization for Prosthetic Lower Limb Control</a> – <em>American Academy of Orthotists and Prosthetists (AAOP 2017)</em></p>

<p> <a href="http://ieeexplore.ieee.org/abstract/document/6095038/">Self-Assembly of Modular Robots from finite number of modules using Graph Grammars</a> <em>International Conference On Intelligent Robots and Systems (IROS 2011)</em></p>



  </section>


