// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}


  .homepage-about {
       display:flex;
       max-width: 980px;
 
   }
   
  .homepage-about img {
      border: 10px solid;
      height: auto;
  }
  
  .homepage-about .button {
      margin-top: 1em;
  }

   
 .homepage-about {
     display:block;
     text-align:right;
   }
   
   .homepage-about img {
       margin-top:1.5em;
   }
   
   .homepage-about .two-third {
      padding-right: 3em;
      padding-left: 5em;
    }



 
 
 .two-third {
     width:auto;
 }


  .one-third {
    width:auto;  
  }


  .homepage-elpis {
       display:flex;
       max-width: 780px;
 
   }
   
  .homepage-elpis img {
      border: 20px solid;
      height: auto;
  }
  
   
 .homepage-elpis {
     display:block;
     text-align:left;
     
   }
   
   .homepage-elpis img {
       margin-top:1.5em;
   }
   
   .homepage-elpis .two-third {
      width:66%;
      padding-right: 30px;
      padding-left: 5em;
    }


